body {
    background-color: #141414;
    
    font-family: Arial, sans-serif;
    color: #fff;
    background: url(Netflix-background.jpg);
  }
  
.netflix
{
    
    height: 40px;

    width: 160px;
    color: red;
    position:relative;
    left: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
  .container {
    width: 400px;
    margin: 100px auto;
    padding: 40px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -50px;
  }
  .sign
  {
    position: relative;
    left:-150px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #e50914;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #db0a0a;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  